*{
    box-sizing: border-box;
    text-transform:uppercase;
    margin: 0px;
    padding: 0px;
}
/* heading and navigation */
.main-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.heading-content{
    width: 30%;
}
.heading-content>h6{
    text-transform: capitalize;
    opacity: 0.44;
}
.heading-content1{
    width: 30%;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px black;
}
.login-class>a, .login-class{
   color: rgb(255, 255, 255);
}
@media screen and (min-width:988px) and (max-width:1440px) {
    form.d-flex{
      display: none;
      visibility: hidden;
    }
}
@media screen and (min-width:200px) and (max-width:984px) {
    form.d-flex{
        display: block;
        visibility: visible;
        margin-top: 10px;
        width: 100%;
    }
    .main-heading{
        display: block;
    }
    .heading-content{
        width: 100%;
        text-align: center;
    }
    .heading-content1{
        width: 100%;
    }
}


  /* cards  */
.small_img{
    height: 250px;
    width: 220px;
    margin: auto;
    flex-wrap: wrap;
}
.small_img>img{
    width: 100%;
}

/* latest stories */
.latest-stories{
    overflow-x: hidden;
}
.latest-stories>h2{
    border: .1px solid black;
    background-color: rgb(201, 197, 197);
    width: fit-content;
  }
  .box{
    position:relative;
  }
  .img-title{
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgb(255, 254, 254);
    font-size: 20px;
    font-weight: bolder;
  }
  .box>img{
    width: 100%;
    height: 100%;
  }

/* emails and more stories */
.more-stories-main{
    width: 100%;
  }
  .more-stories1{
      text-align: center;
  }
  .more-stories2>h3{
    border: .1px solid black;
    background-color:rgb(201, 197, 197);
    width: fit-content;
    margin: auto;
  }
  .emails{
  border: 10px solid rgb(201, 197, 197);
  flex-wrap: wrap;
  text-align: center;
  margin: 30px 0px;
  text-transform: capitalize;
}
input{
  width: 100%;
  border-radius: 12px;
  padding: 10px;
  margin: 10px auto;
}
