*{
    box-sizing: border-box;
    text-transform:uppercase;
    margin: 0px;
    padding: 0px;
}
.main-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.heading-content{
    width: 30%;
}
.heading-content>h6{
    text-transform: capitalize;
    opacity: 0.44;
}
.heading-content1{
    width: 30%;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px black;
}
.login-class>a, .login-class{
   color: rgb(255, 255, 255);
}
@media screen and (min-width:988px) and (max-width:1440px) {
    form.d-flex{
      display: none;
      visibility: hidden;
    }
    .bigger{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 0.6fr;
        grid-gap: 10px;
    }
    .big_img{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap:10px;
    }
    .img-title{
        position: absolute;
        color: rgb(15, 13, 13);
        text-align: center;
        left: 0;
        bottom: 0;
        right: 0;
        font-weight: bold;
        font-size: 28px;
      }
}
@media screen and (min-width:200px) and (max-width:984px) {
    form.d-flex{
        display: block;
        visibility: visible;
        margin-top: 10px;
        width: 100%;
    }
    .main-heading{
        display: block;
    }
    .heading-content{
        width: 100%;
        text-align: center;
    }
    .heading-content1{
        width: 100%;
    }
    .bigger{
        padding: 10px;
        display: grid;
        grid-template-rows: 0.6fr 1.2fr;
        grid-row-gap: 10px;
    }
    .big_img{
        display: grid;
        grid-template-rows: 0.6fr 0.6fr;
        grid-row-gap: 10px;
    }
    .img-title{
        position: absolute;
        color: rgb(15, 13, 13);
        text-align: center;
        left: 0;
        bottom: 0;
        font-weight: bold;
        font-size: 11px;
        right: 0;
      }
}



.small_img{
    height: 250px;
    width: 220px;
    margin: auto;
}
.bigger{
    width: 100%;
    height: 200px;
}
.small_img>img{
    width: 100%;
}
.big_img>img, .big_images>img{
    width: 100%;
    height: 100%;
}
.big_img, .big_images{
    position: relative;
}


